.page-container.dashboard .home-seconde-main-container .card-body {
  padding: 0;
}

.page-container.dashboard .home-seconde-main-container .card-body .ant-table-wrapper {
  width: 100%;
}

.page-container.dashboard .home-seconde-main-container .card-body .ant-table-container,
.page-container.dashboard .home-seconde-main-container .card-body .ant-table th {
  border-radius: 0;
}

@media (min-width: 768px) {
  .page-container.dashboard .page-inner-container .home-seconde-main-container .card-container .card-title-container {
    height: 80px;
  
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
  }
}