.page-container.dashboard .page-inner-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.page-container.dashboard .page-inner-container .card-container {
  background: white;
  text-align: start;
}
.dark-theme .page-container.dashboard .page-inner-container .card-container {
  background: var(--bright-dark);
}

.page-container.dashboard .page-inner-container .card-container .card-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.page-container.dashboard .page-inner-container .card-title {
  font-size: 16px;
}
.page-container.dashboard .page-inner-container .action {
  font-size: 12px;
}

.page-container.dashboard .card-body {
  background: rgb(215 215 215 / 15%);
  padding: 15px;
  column-gap: 2rem;
  display: flex;
}
.dark-theme .page-container.dashboard .card-body {
  background: var(--ant-default-dark);
}

.page-container.dashboard .card-body .card-subtitle {
  font-size: 16px;
  margin-bottom: 5px;
}

.page-container.dashboard .card-body .balances {
  min-width: 150px;
}
.page-container.dashboard .card-body .balance {
  font-size: 24px;
}
.page-container.dashboard .card-body .balance span {
  font-size: 16px;
}

.page-container.dashboard .card-body .charts {
  width: 80%;
  max-height: fit-content;
}
.page-container.dashboard .card-body .charts {
  width: 80%;
  max-height: fit-content;
}

@media (max-width: 768px) {
  .page-container.dashboard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
  }

  .page-container.dashboard .card-body .charts {
    width: 100%;
  }

  .page-container.dashboard .page-inner-container .card-container .card-title-container {
    align-items: flex-start;
  }

  .page-container.dashboard .page-inner-container .card-title {
    font-size: 22px;
  }
  .page-container.dashboard .page-inner-container .action {
    font-size: 14px;
  }
  
}